In [2]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
dataset=sns.load_dataset('tips')

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [10]:
observed_values=dataset_table.values
print("Observed Value: \n", observed_values)

Observed Value:
 [[60 97]
 [33 54]]

In [11]:
chi2_stats,p_value,dof,expected_values=stats.chi2_contingency(dataset_table)

In [13]:
alpha=0.5
critical_value=stats.chi2.ppf(q=1-alpha,df=dof)
print("critical_value:",critical_value)

critical_value: 0.454936423119572

In [14]:
p_value

1.0

In [16]:
if p_value<=alpha: #(chi2_stats>=critical_value)
    print("Reject,there is a relationship between 2 categorial variable")
else:
    print("Accept,there is no relationship between 2 categorial variable")

Accept,there is a relationship between 2 categorial variable